@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif, Helvetica;
	font-size: 16px;
	#background-color: #000;
	background-image: url(../img/subtle_carbon.png);
	margin:0;
	padding:0;
	color: #FFF;
}

#wrapper {
	width: 750px;
	margin-left: 20px;
	margin-right: 20px;
	vertical-align:middle;
	margin: auto;
	-webkit-box-shadow: 0px -2px 26px rgba(29, 31, 34, 0.52);
	-moz-box-shadow:    0px -2px 26px rgba(29, 31, 34, 0.52);
	box-shadow:         0px -2px 26px rgba(29, 31, 34, 0.52);
}

h1
{
	padding-bottom: 10px;
	padding-top: 0px;
	font-weight: normal;
	border-bottom: 1px solid #999;
}

p 
{
	margin-top: -5px;
}

#wrapper #content {
	min-height: 260px;
	#margin-top: 13%;
	background-image: url(../img/bg.png);
	border: 1px solid #222;
	border-radius: 5px;
	padding-right: 15px;
	text-decoration: none;
	position:absolute;
	top: 50%;
	margin-top: -130px;
	margin-left: -50px;
}

#content .text {
	width: 100%;
	padding: 5px;
	padding-top: 0px;
	text-align: center;
}

#content .link {
	color: #09F;
}

#kit_media {
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:18px;
	text-shadow:0 -1px 0 #FC730A;
	color:#fff;
	text-decoration: none;
	border:1px solid #FC730A;
	background: rgb(255,168,76); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}

#kit_media:hover {
	padding:5px;
	text-shadow:0 1px 0 #FC730A;
	border:1px solid #FC730A;
	background: rgb(249,191,74); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(249,191,74,1) 0%, rgba(249,181,9,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,191,74,1)), color-stop(100%,rgba(249,181,9,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(249,191,74,1) 0%,rgba(249,181,9,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(249,191,74,1) 0%,rgba(249,181,9,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(249,191,74,1) 0%,rgba(249,181,9,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(249,191,74,1) 0%,rgba(249,181,9,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bf4a', endColorstr='#f9b509',GradientType=0 ); /* IE6-9 */	
}