<!DOCTYPE html>
<html>
<head>
	<!-- Meta description -->
	<meta name="description" content="{META_DESCRIPTION}">
    <meta name="keywords" content="{META_KEYWORDS}">
    <meta name="author" content="{META_AUTHOR}">
    <meta charset="UTF-8">

	<!-- Page informations -->
	<title>{PAGE_TITLE}</title>
	<link href="{SYSTEM_CSS}/grid.css" rel="stylesheet" type="text/css">
	<link href="{SYSTEM_CSS}/styles.css" rel="stylesheet" type="text/css">
    <script src="{SYSTEM_JAVASCRIPT}/jquery.js" language="javascript" type="text/javascript"></script>
	<link rel="shortcut icon" href="favicon.ico">
</head>
<body>